@tailwind base;
@tailwind components;
@tailwind utilities;

.hero3d{
    /* transform: scale(0.5) translateX(50%) translateY(5%); */
    position:absolute;

}

.main-video{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-image-slideshow{
  background-color: #232323;
}

.slideshow-img{
  width: 70%;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.tab-panes .tab-pane{
    display: none
}
.tab-panes .active{
    display: block
}

.widget {
    position: relative;
    
    
   
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
  }
  
  .widget-tabs {
    
    top: 0;
    left: 0;
    right: 0;
   
    text-align: left;
    /* direction: rtl; */
   
   
   
  }

  
  
  .widget-tab,
  .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab,
  .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab,
  .widget-list:target:nth-of-type(3) ~ .widget-tabs > .widget-tab:nth-child(3) ~ .widget-tab,
  .widget-list:target:nth-of-type(4) ~ .widget-tabs > .widget-tab:nth-child(4) ~ .widget-tab,
  .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #999;
  
   
   
    border-radius: 5px 5px 0 0;
    padding-bottom: 0;
    bottom: auto;
  }
  
  .widget-tab > .widget-tab-link,
  .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab > .widget-tab-link,
  .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab > .widget-tab-link,
  .widget-list:target:nth-of-type(3) ~ .widget-tabs > .widget-tab:nth-child(3) ~ .widget-tab > .widget-tab-link,
  .widget-list:target:nth-of-type(4) ~ .widget-tabs > .widget-tab:nth-child(4) ~ .widget-tab > .widget-tab-link,
  .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab > .widget-tab-link {
    margin: 0;
    border-top: 0;
  }
  
  .widget-tab + .widget-tab {
    /* margin-right: -1px; */
  }
  
  .widget-tab:last-child,
  .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child,
  .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2),
  .widget-list:target:nth-of-type(3) ~ .widget-tabs > .widget-tab:nth-child(3),
  .widget-list:target:nth-of-type(4) ~ .widget-tabs > .widget-tab:nth-child(4),
  .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child {
    bottom: -1px;
    margin-top: 0;
    padding-bottom: 2px;
    line-height: 34px;
    font-weight: bold;
    color: #555;
  
    border-top: 0;
  }
  
  .widget-tab:last-child > .widget-tab-link,
  .widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child > .widget-tab-link,
  .widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) > .widget-tab-link,
  .widget-list:target:nth-of-type(3) ~ .widget-tabs > .widget-tab:nth-child(3) > .widget-tab-link,
  .widget-list:target:nth-of-type(4) ~ .widget-tabs > .widget-tab:nth-child(4) > .widget-tab-link,
  .widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child > .widget-tab-link {
    margin: 0 -1px;
    
    color: white;
  }
  
  .widget-tab-link {
    display: block;
    /* min-width: 60px; */
   
    color: inherit;
    text-align: left;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
  }
  
  .widget-list {
    display: none;
    
  }
  
  .widget-list > li + li {
    
  }
  
  .widget-list:last-of-type {
    display: block;
  }
  
  .widget-list:target {
    display: block;
  }
  
  .widget-list:target ~ .widget-list {
    display: none;
  }
  
  .widget-list-link {
    display: block;
    line-height: 18px;
    padding: 10px 12px;
    font-weight: bold;
    color: #555;
    text-decoration: none;
    cursor: pointer;
  }
  
  .widget-list-link:hover {
    background: #f7f7f7;
  }
  
  li:last-child > .widget-list-link {
    border-radius: 0 0 3px 3px;
  }
  
  .widget-list-link > img {
    float: left;
    width: 32px;
    height: 32px;
    margin: 2px 12px 0 0;
  }
  
  .widget-list-link > span {
    display: block;
    font-size: 11px;
    font-weight: normal;
    color: #999;
  }

  .case-study-header{
   
    background-size: cover;
    background-position: center;
height: 60vh;
    background-attachment: fixed;
  }

  .main-vid-overlay{
    bottom:0px;
    top:0px;
    left:0px;
    right:0px;
  }
  

  @media (min-width:640px) {
    .main-vid-overlay{
      bottom:-62px;
      top:0px;
      left:0px;
      right:0px;
    }
  }

  @media (min-width:768px) {
    .main-vid-overlay{
      bottom:-177px;
      top:0px;
      left:0px;
      right:0px;
    }
  }


  @media (min-width:1024px){
    .case-study-header{
   
     
      height: 90vh;
     
    }

    .main-video{
      top:-132px;
      
    }

    .main-vid-overlay{
      top:0;
      bottom:0;
      left: 0;
      right: 0;
    }
    

    .widget-list {
      
      padding-left: 28px;
    }
}

 